<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Ubah Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<style>
    .center-box{
        margin: auto;
        width: 25%;
        margin-top: 50px;
        border: 3px solid green;
        padding: 10px;
        font-size: 18px;
    }
</style>
<nav th:replace="fragments/fragment :: navbar(title = 'Ubah Pilot')"></nav>
<div class="container-fluid">
    <div class="card">
        <h1>Data Pilot Telah Berhasil Diubah</h1>
        <div class="card-header">Detail Pilot</div>
        <div class="card-body center-box">
            <p th:text="'Id : '+ ${pilot.idPilot}"></p>
            <p th:text="'Nama : '+ ${pilot.namaPilot}"></p>
            <p th:text="'NIK : '+ ${pilot.nik}"></p>
            <p th:if="${pilot.jenisKelamin == 1}">Jenis Kelamin : Laki Laki</p>
            <p th:if="${pilot.jenisKelamin == 2}">Jenis Kelamin : Perempuan</p>
            <p th:text="'NIP : '+ ${pilot.nip}"></p>
            <p th:text="'Tempat Lahir : '+ ${pilot.tempatLahir}"></p>
            <p th:text="'Tanggal Lahir : '+ ${pilot.tanggalLahir}"></p>
            <p th:text="'Sekolah : '+ ${pilot.getAkademiModel().getNamaAkademi()}"></p>
            <p th:text="'Maskapai : '+ ${pilot.getMaskapaiModel().getNamaMaskapai()}"></p>
            <a href="/pilot/">Lihat Daftar Pilot</a>
        </div>
    </div>
</div>

</body>
</html>